In [35]:
import pandas as pd

In [36]:
df1 = pd.read_csv('greek_gods.csv',sep = ',')

In [37]:
df1

        God                 Domain       Symbol    Age
0      Zeus       King of the Gods  Thunderbolt  10000
1  Poseidon         God of the Sea      Trident   9000
2      Hera      Queen of the Gods      Peacock   8500
3    Athena      Goddess of Wisdom          Owl   8000
4     Hades  God of the Underworld       Helmet   9500

In [38]:
df2 = pd.read_csv('greek_goddesses.csv',sep = ',')

In [39]:
df2

      Goddess                   Domain         Symbol   Age
0   Aphrodite          Goddess of Love           Dove  7000
1     Artemis      Goddess of the Hunt  Bow and Arrow  7500
2     Demeter   Goddess of Agriculture          Wheat  8000
3      Hestia    Goddess of the Hearth           Fire  8200
4  Persephone  Queen of the Underworld    Pomegranate  7800

In [40]:
#Question 1 
df1_changed = df1.copy()
df1_changed.rename(columns={'God': 'God/Goddess'},inplace = True)

df2_changed = df2.copy()
df2_changed.rename(columns={'Goddess': 'God/Goddess'},inplace= True)

In [41]:
df_new = pd.merge(df1_changed,df2_changed,how = 'outer')

In [42]:
df_new

  God/Goddess                   Domain         Symbol    Age
0        Zeus         King of the Gods    Thunderbolt  10000
1    Poseidon           God of the Sea        Trident   9000
2        Hera        Queen of the Gods        Peacock   8500
3      Athena        Goddess of Wisdom            Owl   8000
4       Hades    God of the Underworld         Helmet   9500
5   Aphrodite          Goddess of Love           Dove   7000
6     Artemis      Goddess of the Hunt  Bow and Arrow   7500
7     Demeter   Goddess of Agriculture          Wheat   8000
8      Hestia    Goddess of the Hearth           Fire   8200
9  Persephone  Queen of the Underworld    Pomegranate   7800

In [43]:
#Question 2 
ans2 = df_new[df_new['Age']>8000].sort_values(by='Age',ascending = False)

In [44]:
ans2

  God/Goddess                 Domain       Symbol    Age
0        Zeus       King of the Gods  Thunderbolt  10000
4       Hades  God of the Underworld       Helmet   9500
1    Poseidon         God of the Sea      Trident   9000
2        Hera      Queen of the Gods      Peacock   8500
8      Hestia  Goddess of the Hearth         Fire   8200

In [48]:
#Question 3
df_3 = pd.merge(df1_changed,df2_changed,how = 'inner',on='Domain')

In [49]:
df_3

Empty DataFrame
Columns: [God/Goddess_x, Domain, Symbol_x, Age_x, God/Goddess_y, Symbol_y, Age_y]
Index: []

In [50]:
#Question 4 

if df1['Age'].max()>df2['Age'].max():
    print(df1[df1['Age']==df1['Age'].max()]['God'])
    
elif df1['Age'].max()<df2['Age'].max():
    print(df1[df1['Age']==df1['Age'].max()]['Goddess'])
    
else:
    print(df1[df1['Age']==df1['Age'].max()]['God'])
    print(df1[df1['Age']==df1['Age'].max()]['Goddess'])

0    Zeus
Name: God, dtype: object

In [51]:
#Question 5 
import numpy as np

df_new['Age Group'] = np.where(df_new['Age']<5000, 'Young',
                   np.where(df_new["Age"]<8000, 'Middle Aged','Old', ))

df_new

  God/Goddess                   Domain         Symbol    Age    Age Group
0        Zeus         King of the Gods    Thunderbolt  10000          Old
1    Poseidon           God of the Sea        Trident   9000          Old
2        Hera        Queen of the Gods        Peacock   8500          Old
3      Athena        Goddess of Wisdom            Owl   8000          Old
4       Hades    God of the Underworld         Helmet   9500          Old
5   Aphrodite          Goddess of Love           Dove   7000  Middle Aged
6     Artemis      Goddess of the Hunt  Bow and Arrow   7500  Middle Aged
7     Demeter   Goddess of Agriculture          Wheat   8000          Old
8      Hestia    Goddess of the Hearth           Fire   8200          Old
9  Persephone  Queen of the Underworld    Pomegranate   7800  Middle Aged

In [54]:
df_new

,God/Goddess,Domain,Symbol,Age,Age Group,Age_Group
0,Zeus,King of the Gods,Thunderbolt,10000,Old,None
1,Poseidon,God of the Sea,Trident,9000,Old,None
2,Hera,Queen of the Gods,Peacock,8500,Old,None
3,Athena,Goddess of Wisdom,Owl,8000,Old,None
4,Hades,God of the Underworld,Helmet,9500,Old,None
5,Aphrodite,Goddess of Love,Dove,7000,Middle Aged,None
6,Artemis,Goddess of the Hunt,Bow and Arrow,7500,Middle Aged,None
7,Demeter,Goddess of Agriculture,Wheat,8000,Old,None
8,Hestia,Goddess of the Hearth,Fire,8200,Old,None
9,Persephone,Queen of the Underworld,Pomegranate,7800,Middle Aged,None

In [55]:
#question 6
age_diff = abs(df1['Age'].mean() - df2['Age'].mean())
print("Avg age of God ",df1['Age'].mean(),"\nAvg age of Goddess ", df2['Age'].mean())
print(age_diff)

if df1['Age'].mean()>df2['Age'].mean():
  print("Gods group is older")
else:
  print("Goddesses group is older")

Avg age of God  9000.0
Avg age of Goddess  7700.0
1300.0
Gods group is older

In [56]:
#question 7
for index, row in df_new.iterrows():
    if row['Age'] > 8000:
        print(row['God/Goddess'], 'is over 8000')

Zeus is over 8000
Poseidon is over 8000
Hera is over 8000
Hades is over 8000
Hestia is over 8000

In [57]:
#question 8
for ind in df_new.index:
    if df_new['Age'][ind] > 8000:

        print(df_new['God/Goddess'][ind], 'is over 8000')

Zeus is over 8000
Poseidon is over 8000
Hera is over 8000
Hades is over 8000
Hestia is over 8000

In [58]:
# Question 8 

ind = 0

while ind<len(df_new):
    if df_new['Age'][ind]==df_new['Age'].max():
        print("The oldest God/Goddess is :",df_new['God/Goddess'][ind])
    ind+=1

The oldest God/Goddess is : Zeus